<apex:page id="pgIntakeEntry" StandardController="Intake_Entry_Form__c" Extensions="createEditIntakeEntryController" showHeader="true">
<apex:includeScript value="{!URLFOR($Resource.JQuery_01, 'jquery-ui-1.10.4.custom/js/jquery-1.10.2.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.JQuery_01, 'jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.JQuery_01, 'jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.min.js')}"/>
<style type="text/css">
  .hidden{display: none;}
   .initCaps { text-transform: capitalize; }
</style>

<script language="javascript">
     $(document).ready(function(){
         //alert('ON LOAD');
         $("#totalAmountDiv").hide();
         $("#effortdiv").hide();
         $("#labordiv").hide();
         $("#accntCategorydiv").hide();
         $("#delinvDateDiv").hide();
         $("#startDateDiv").hide();
         $("#softwarePerpetualdiv").hide();
         $("#monthlyAdjdiv").hide();
         
     });

             
        
        function change(){
            var j$ = jQuery.noConflict(); 
            var intaketype =  j$("[id$=ipIntakeType]").val();
            // For Labor by Effort, show these fields
            if( intaketype =='Labor (By Effort)'){
                 j$("[id$=ipTotAmount]").val("");
                 j$("[id$=ipDelDate]").val("");
                 j$("[id$=ipInvDate]").val("");
                 j$("[id$=ipSWMA]").val("");
                 j$("[id$=ipSWLA]").val("");
                 j$("[id$=ipPD1]").val("");
                 j$("[id$=ipPD2]").val("");
                 j$("[id$=ipPD3]").val("");
                 j$("[id$=ipPD4]").val("");
                 j$("[id$=ipPD5]").val("");
                 j$("[id$=ipPA1]").val("");
                 j$("[id$=ipPA2]").val("");
                 j$("[id$=ipPA3]").val("");
                 j$("[id$=ipPA4]").val("");
                 j$("[id$=ipPA5]").val("");
                 j$("[id$=ipMA0]").val("");
                 j$("[id$=ipMA1]").val("");
                 j$("[id$=ipMA2]").val("");
                 j$("[id$=ipMA3]").val("");
                 j$("[id$=ipMA4]").val("");
                 j$("[id$=ipMA5]").val("");
                 j$("[id$=ipMA6]").val("");
                 j$("[id$=ipMA7]").val("");
                 j$("[id$=ipMA8]").val("");
                 j$("[id$=ipMA9]").val("");
                 j$("[id$=ipMA10]").val("");
                 j$("[id$=ipMA11]").val("");
                 j$("[id$=ipMA12]").val("");
                 
                 j$("#totalAmountDiv").hide();
                 j$("#effortdiv").show();
                 j$("#labordiv").show();
                 j$("#accntCategorydiv").hide();
                 j$("#delinvDateDiv").hide();
                 j$("#startDateDiv").show();
                 j$("#softwarePerpetualdiv").hide();
                 j$("#monthlyAdjdiv").hide();
            }
            // For Labor by Lump Sum, show these fields
            if( intaketype =='Labor (Lump Sum $)'){
                             
                 j$("[id$=ipTotEffHours]").val("");
                 j$("[id$=ipDelDate]").val("");
                 j$("[id$=ipInvDate]").val("");
                 j$("[id$=ipSWMA]").val("");
                 j$("[id$=ipSWLA]").val("");
                 j$("[id$=ipPD1]").val("");
                 j$("[id$=ipPD2]").val("");
                 j$("[id$=ipPD3]").val("");
                 j$("[id$=ipPD4]").val("");
                 j$("[id$=ipPD5]").val("");
                 j$("[id$=ipPA1]").val("");
                 j$("[id$=ipPA2]").val("");
                 j$("[id$=ipPA3]").val("");
                 j$("[id$=ipPA4]").val("");
                 j$("[id$=ipPA5]").val("");
                 j$("[id$=ipMA0]").val("");
                 j$("[id$=ipMA1]").val("");
                 j$("[id$=ipMA2]").val("");
                 j$("[id$=ipMA3]").val("");
                 j$("[id$=ipMA4]").val("");
                 j$("[id$=ipMA5]").val("");
                 j$("[id$=ipMA6]").val("");
                 j$("[id$=ipMA7]").val("");
                 j$("[id$=ipMA8]").val("");
                 j$("[id$=ipMA9]").val("");
                 j$("[id$=ipMA10]").val("");
                 j$("[id$=ipMA11]").val("");
                 j$("[id$=ipMA12]").val("");
                j$("#effortdiv").hide();
                j$("#totalAmountDiv").show();
                j$("#labordiv").show();
                j$("#accntCategorydiv").hide();
                j$("#delinvDateDiv").hide();
                j$("#startDateDiv").show();
                j$("#softwarePerpetualdiv").hide();
                j$("#monthlyAdjdiv").hide();
            }
            if( intaketype =='Other Costs (Monthly)'){
                 j$("[id$=ipTotEffHours]").val("");
                 j$("[id$=ipDelDate]").val("");
                 j$("[id$=ipInvDate]").val("");
                 j$("[id$=ipExLab]").val("");
                 j$("[id$=ipOffLab]").val("");
                 j$("[id$=ipCapExp]").val("");
                 j$("[id$=ipSWMA]").val("");
                 j$("[id$=ipSWLA]").val("");
                 j$("[id$=ipPD1]").val("");
                 j$("[id$=ipPD2]").val("");
                 j$("[id$=ipPD3]").val("");
                 j$("[id$=ipPD4]").val("");
                 j$("[id$=ipPD5]").val("");
                 j$("[id$=ipPA1]").val("");
                 j$("[id$=ipPA2]").val("");
                 j$("[id$=ipPA3]").val("");
                 j$("[id$=ipPA4]").val("");
                 j$("[id$=ipPA5]").val("");
                 j$("[id$=ipMA0]").val("");
                 j$("[id$=ipMA1]").val("");
                 j$("[id$=ipMA2]").val("");
                 j$("[id$=ipMA3]").val("");
                 j$("[id$=ipMA4]").val("");
                 j$("[id$=ipMA5]").val("");
                 j$("[id$=ipMA6]").val("");
                 j$("[id$=ipMA7]").val("");
                 j$("[id$=ipMA8]").val("");
                 j$("[id$=ipMA9]").val("");
                 j$("[id$=ipMA10]").val("");
                 j$("[id$=ipMA11]").val("");
                 j$("[id$=ipMA12]").val("");
                 j$("#effortdiv").hide();
                 j$("#totalAmountDiv").show();
                 j$("#labordiv").hide();
                 j$("#accntCategorydiv").show();
                 j$("#delinvDateDiv").hide();
                 j$("#startDateDiv").show();
                 j$("#softwarePerpetualdiv").hide();
                 j$("#monthlyAdjdiv").hide();
            }
            if( intaketype =='Other Costs (Single Payment)'){
                 j$("[id$=ipTotEffHours]").val("");
                 j$("[id$=ipExLab]").val("");
                 j$("[id$=ipOffLab]").val("");
                 j$("[id$=ipCapExp]").val("");
                 j$("[id$=ipSDate]").val("");
                 j$("[id$=ipEDate]").val("");
                 j$("[id$=ipSWMA]").val("");
                 j$("[id$=ipSWLA]").val("");
                 j$("[id$=ipPD1]").val("");
                 j$("[id$=ipPD2]").val("");
                 j$("[id$=ipPD3]").val("");
                 j$("[id$=ipPD4]").val("");
                 j$("[id$=ipPD5]").val("");
                 j$("[id$=ipPA1]").val("");
                 j$("[id$=ipPA2]").val("");
                 j$("[id$=ipPA3]").val("");
                 j$("[id$=ipPA4]").val("");
                 j$("[id$=ipPA5]").val("");
                 j$("[id$=ipMA0]").val("");
                 j$("[id$=ipMA1]").val("");
                 j$("[id$=ipMA2]").val("");
                 j$("[id$=ipMA3]").val("");
                 j$("[id$=ipMA4]").val("");
                 j$("[id$=ipMA5]").val("");
                 j$("[id$=ipMA6]").val("");
                 j$("[id$=ipMA7]").val("");
                 j$("[id$=ipMA8]").val("");
                 j$("[id$=ipMA9]").val("");
                 j$("[id$=ipMA10]").val("");
                 j$("[id$=ipMA11]").val("");
                 j$("[id$=ipMA12]").val("");
                 j$("#effortdiv").hide();
                 j$("#totalAmountDiv").show();
                 j$("#labordiv").hide();
                 j$("#accntCategorydiv").show();
                 j$("#delinvDateDiv").show();
                 j$("#startDateDiv").hide();
                 j$("#softwarePerpetualdiv").hide();
                 j$("#monthlyAdjdiv").hide();
                 
            }
             if( intaketype =='Software (Perpetual)'){
                 j$("[id$=ipTotEffHours]").val("");
                 j$("[id$=ipTotAmount]").val("");
                 j$("[id$=ipExLab]").val("");
                 j$("[id$=ipOffLab]").val("");
                 j$("[id$=ipCapExp]").val("");
                 j$("[id$=ipDelDate]").val("");
                 j$("[id$=ipInvDate]").val("");
                 j$("[id$=ipMA0]").val("");
                 j$("[id$=ipMA1]").val("");
                 j$("[id$=ipMA2]").val("");
                 j$("[id$=ipMA3]").val("");
                 j$("[id$=ipMA4]").val("");
                 j$("[id$=ipMA5]").val("");
                 j$("[id$=ipMA6]").val("");
                 j$("[id$=ipMA7]").val("");
                 j$("[id$=ipMA8]").val("");
                 j$("[id$=ipMA9]").val("");
                 j$("[id$=ipMA10]").val("");
                 j$("[id$=ipMA11]").val("");
                 j$("[id$=ipMA12]").val("");
                 
                 j$("#effortdiv").hide();
                 j$("#totalAmountDiv").hide();
                 j$("#labordiv").hide();
                 j$("#accntCategorydiv").hide();
                 j$("#delinvDateDiv").hide();
                 j$("#startDateDiv").show();
                 j$("#softwarePerpetualdiv").show();
                 j$("#monthlyAdjdiv").hide();
                 
            }
            if( intaketype =='Multiple Month by Account'){
                 j$("[id$=ipTotAmount]").val("");
                 j$("[id$=ipTotEffHours]").val("");
                 j$("[id$=ipExLab]").val("");
                 j$("[id$=ipOffLab]").val("");
                 j$("[id$=ipCapExp]").val("");
                 j$("[id$=ipSDate]").val("");
                 j$("[id$=ipEDate]").val("");
                 j$("[id$=ipDelDate]").val("");
                 j$("[id$=ipInvDate]").val(""); 
                 j$("[id$=ipSWMA]").val("");
                 j$("[id$=ipSWLA]").val("");
                 j$("[id$=ipPD1]").val("");
                 j$("[id$=ipPD2]").val("");
                 j$("[id$=ipPD3]").val("");
                 j$("[id$=ipPD4]").val("");
                 j$("[id$=ipPD5]").val("");
                 j$("[id$=ipPA1]").val("");
                 j$("[id$=ipPA2]").val("");
                 j$("[id$=ipPA3]").val("");
                 j$("[id$=ipPA4]").val("");
                 j$("[id$=ipPA5]").val("");
                 j$("#effortdiv").hide();
                 j$("#totalAmountDiv").hide();
                 j$("#labordiv").hide();
                 j$("#accntCategorydiv").show();
                 j$("#delinvDateDiv").hide();
                 j$("#startDateDiv").hide();
                 j$("#softwarePerpetualdiv").hide();
                 j$("#monthlyAdjdiv").show();
            }
            
        }
    </script>
    <apex:form id="theform">
        <apex:pageMessages />
        <apex:sectionHeader title="Intake Entry Form"/>
        <apex:pageBlock id="pbIntakeEntry" title="Intake Entry Detail" mode="edit">
            <apex:pageBlockButtons >
                <apex:commandButton action="{!saveIntakeEntry}" value="Save"/>
                <apex:commandButton action="{!cancel}" value="Cancel"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection id="pbSecIntakeGeneral" title="General Information" columns="2">
                <apex:inputField value="{!Intake_Entry_Form__c.Name}" />
                <apex:inputField value="{!Intake_Entry_Form__c.Intake_Project__c}" >
                    <apex:param name="projectId" value="{!Intake_Entry_Form__c.Intake_Project__c}" assignTo="{!strProjectId}" />
                    <apex:actionSupport event="onchange"  reRender="pbsecitemFE,ipIntakeCap" status="status"/> 
                </apex:inputField>
                
                <apex:inputfield id="ipIntakeType" value="{!Intake_Entry_Form__c.Intake_Type__c}" onchange="change();">  </apex:inputField>
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel > Funding Entity </apex:outputLabel>
                        <apex:outputPanel id="pbsecitemFE">
                             <apex:selectList value="{!Intake_Entry_Form__c.Funding_Entity__c}" multiselect="false" size="1" required="false" disabled="{!OR($Profile.Name =='Program Owners',$Profile.Name=='Contractor PM',$Profile.Name =='Intake Owners',$Profile.Name == 'Contractor', $Profile.Name == 'Comcast Employee')}">
                              <apex:selectOptions value="{!listIntakeProjectFunding}"/>
                                <apex:actionSupport reRender="dummy" event="onchange"/>
                             </apex:selectList>
                        </apex:outputPanel>
                    </apex:pageBlockSectionItem>
                     <apex:pageBlockSectionItem >
                        <apex:outputLabel >Capability</apex:outputLabel>
                        <apex:outputPanel id="ipIntakeCap">
                            <apex:selectList value="{!Intake_Entry_Form__c.Intake_Capabilities__c}" size="1" multiselect="false" required="false">
                                <apex:selectOptions value="{!listCapability}"/>   
                                <apex:actionSupport reRender="dummy" event="onchange"/>
                            </apex:selectList>
                       </apex:outputPanel>
                 </apex:pageBlockSectionItem>
          </apex:pageBlockSection>
            <apex:pageBlockSection id="pbSecIntakeEntry" columns="1" >
                <apex:pageBlockSectionItem >
                    <apex:outputLabel > Effort Entity </apex:outputLabel>
                        <apex:actionRegion >
                            <apex:selectList id="pbsecitemEE" multiselect="false" required="false"  size="1" value="{!Intake_Entry_Form__c.Effort_Entity__c}" > 
                              <apex:selectOptions value="{!commonListEntity}" />
                              <apex:actionsupport event="onchange" reRender="oplDirector"> 
                              </apex:actionsupport>                     
                            </apex:selectList>
                        </apex:actionRegion>
                </apex:pageBlockSectionItem>
               
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Director Group</apex:outputLabel>
                    <apex:outputPanel id="oplDirector">
                        <apex:selectList id="slDirectorGrp" value="{!Intake_Entry_Form__c.Director_Group__c}" size="1" multiselect="false" required="false">
                            <apex:selectOptions value="{!usualListDirector}"/>
                            <apex:actionSupport reRender="dummy" event="onchange"/>
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="pbSecItemVendor" >
                    <apex:outputLabel id="opVendor" >Vendor</apex:outputLabel>
                    <apex:outputPanel id="ipVendor">
                        <apex:selectList id="slVendor" value="{!Intake_Entry_Form__c.Vendor__c}" size="1" multiselect="false" styleClass="initCaps">
                            <apex:selectOptions value="{!listVendor}"/>
                            <apex:actionSupport reRender="dummy" event="onchange"/>
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                </apex:pageBlockSection>
                   <!--Fields based on Intake Type-->
                <div id="accntCategorydiv">
                    <apex:pageBlockSection id="pbSecAccntCat" columns="1" >
                        <apex:pageBlockSectionItem id="pbSecItemCategory">                 
                           <apex:outputLabel id="opCategory" >Account Category</apex:outputLabel>
                           <apex:outputPanel id="ipCategory">
                               <apex:selectList id="slAccCategory" value="{!Intake_Entry_Form__c.Account_Category__c}" size="1" multiselect="false">
                                   <apex:selectOptions id="slAccCategoryoption" value="{!listAccountCategory}"/>
                                   <apex:actionSupport reRender="dummy" event="onchange"/>
                               </apex:selectList>
                           </apex:outputPanel>
                        </apex:pageBlockSectionItem>
                    </apex:pageBlockSection>
                </div>
                <div id="totalAmountDiv" >
                     <apex:pageBlockSection >
                         <apex:pageBlockSectionItem id="pbSecItemTotSpentProj" helpText="{!$ObjectType.Intake_Entry_Form__c.Fields.Total_Spent_Projection__c.inlineHelpText}">
                           <apex:outputLabel id="opTotSpentProj">Intake Amount</apex:outputLabel>
                           <apex:inputField id="ipTotAmount" value="{!Intake_Entry_Form__c.Total_Spent_Projection__c}" style="display:block"/>
                         </apex:pageBlockSectionItem> 
                      </apex:pageBlockSection>
                </div>
                <div id="delinvDateDiv"> 
                     <apex:pageBlockSection id="pbSecDelInvDates" columns="2" >
                        <apex:pageBlockSectionItem id="pbSecItemDeliveryDate">
                            <apex:outputLabel id="opDelDate" style="display:block" >Delivery Date </apex:outputLabel>
                            <apex:inputField id="ipDelDate" value="{!Intake_Entry_Form__c.Delivery_Date__c}" ></apex:inputField>
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem id="pbSecItemInvoiceDate">
                            <apex:outputLabel id="opInvDate" style="display:block" >Invoice Date</apex:outputLabel>
                            <apex:inputField id="ipInvDate" value="{!Intake_Entry_Form__c.Invoice_Date__c}" ></apex:inputField>
                        </apex:pageBlockSectionItem>   
                     </apex:pageBlockSection>
                </div>
                <div id="startDateDiv"> 
                    <apex:pageBlockSection id="pbSecDates" columns="2" >
                        <apex:pageBlockSectionItem id="pbSecItemSDate">
                            <apex:outputLabel id="opSDate" >Start Date</apex:outputLabel>
                            <apex:inputField id="ipSDate" value="{!Intake_Entry_Form__c.Start_Date__c}"/>
                        </apex:pageBlockSectionItem>    
                        <apex:pageBlockSectionItem id="pbSecItemEDate">
                           <apex:outputLabel id="opEDate" style="display:block" >End Date</apex:outputLabel>
                           <apex:inputField id="ipEDate" value="{!Intake_Entry_Form__c.End_Date__c}"/>
                        </apex:pageBlockSectionItem>
                    </apex:pageBlockSection>
                </div>
                <div id="effortdiv" >
                    <apex:pageBlockSection >
                        <apex:inputfield value="{!Intake_Entry_Form__c.Total_Effort_Hours__c}" id="ipTotEffHours" > </apex:inputField>
                        </apex:pageBlockSection>
                </div>
                <div id="labordiv" >
                    <apex:pageBlockSection title="Labor Information"  id="pbSecIntakeEntrylabor" columns="2" >
                        <apex:pageBlockSectionItem id="pbSecItemExLab" helpText="{!$ObjectType.Intake_Entry_Form__c.Fields.External_Labor__c.inlineHelpText}">
                            <apex:outputLabel id="opExLab" >% External Labor</apex:outputLabel>
                            <apex:inputField id="ipExLab"  value="{!Intake_Entry_Form__c.External_Labor__c}"/>
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem id="pbSecItemOffLab" helpText="{!$ObjectType.Intake_Entry_Form__c.Fields.Off_Shore_Labor__c.inlineHelpText}">
                            <apex:outputLabel id="opOffLab" >% Offshore Labor</apex:outputLabel>
                            <apex:inputField id="ipOffLab"  value="{!Intake_Entry_Form__c.Off_Shore_Labor__c}"/>
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem id="pbSecItemCapExp" helpText="{!$ObjectType.Intake_Entry_Form__c.Fields.Capital_Expense__c.inlineHelpText}">
                            <apex:outputLabel id="opCapExp" >% Capital Expense</apex:outputLabel>
                            <apex:inputField id="ipCapExp" value="{!Intake_Entry_Form__c.Capital_Expense__c}"/>
                        </apex:pageBlockSectionItem>             
                    </apex:pageBlockSection>
                </div>
                <div id="softwarePerpetualdiv">
                    <apex:pageBlockSection title="Software (Perpetual)" id="pbSecIntakeEntrySP"  columns="2" >                  
                        <apex:pageBlockSectionItem id="pbSecItemSWMA" helpText="{!$ObjectType.Intake_Entry_Form__c.Fields.Total_SW_Maintenance_Amount__c.inlineHelpText}">
                            <apex:outputLabel id="opSWMA">Total SW Maintenance Amount</apex:outputLabel>
                            <apex:inputField id="ipSWMA" value="{!Intake_Entry_Form__c.Total_SW_Maintenance_Amount__c}"/>
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem id="pbSecItemSWLA" helpText="{!$ObjectType.Intake_Entry_Form__c.Fields.Total_SW_License_Amount__c.inlineHelpText}">
                            <apex:outputLabel id="opSWLA" >Total SW License Amount</apex:outputLabel>
                            <apex:inputField id="ipSWLA" value="{!Intake_Entry_Form__c.Total_SW_License_Amount__c}"/>
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                        </apex:pageBlockSectionItem>
                        <apex:inputField id="ipPD1" value="{!Intake_Entry_Form__c.Payment_Date_1__c}"/>
                        <apex:inputField id="ipPA1" value="{!Intake_Entry_Form__c.Payment_Amount_1__c}"/>
                        <apex:inputField id="ipPD2" value="{!Intake_Entry_Form__c.Payment_Date_2__c}"/>
                        <apex:inputField id="ipPA2" value="{!Intake_Entry_Form__c.Payment_Amount_2__c}"/>
                        <apex:inputField id="ipPD3" value="{!Intake_Entry_Form__c.Payment_Date_3__c}"/>
                        <apex:inputField id="ipPA3" value="{!Intake_Entry_Form__c.Payment_Amount_3__c}"/>
                        <apex:inputField id="ipPD4" value="{!Intake_Entry_Form__c.Payment_Date_4__c}"/>
                        <apex:inputField id="ipPA4" value="{!Intake_Entry_Form__c.Payment_Amount_4__c}"/>
                        <apex:inputField id="ipPD5" value="{!Intake_Entry_Form__c.Payment_Date_5__c}"/>
                        <apex:inputField id="ipPA5" value="{!Intake_Entry_Form__c.Payment_Amount_5__c}"/>
                    </apex:pageBlockSection>
                </div>
                <div id="monthlyAdjdiv">
                    <apex:pageBlockSection title="Monthly Adjustment" id="pbSecIntakeEntryMA"  columns="2" >
                        <apex:inputField id="ipMA0" value="{!Intake_Entry_Form__c.Adjustment_Year__c}"/> 
                        <apex:pageBlockSectionItem >
                        </apex:pageBlockSectionItem>
                        <apex:inputField id="ipMA1" value="{!Intake_Entry_Form__c.Jan__c}"/>                   
                        <apex:inputField id="ipMA2" value="{!Intake_Entry_Form__c.Feb__c}"/>
                        <apex:inputField id="ipMA3" value="{!Intake_Entry_Form__c.Mar__c}"/>
                        <apex:inputField id="ipMA4" value="{!Intake_Entry_Form__c.Apr__c}"/>
                        <apex:inputField id="ipMA5" value="{!Intake_Entry_Form__c.May__c}"/>
                        <apex:inputField id="ipMA6" value="{!Intake_Entry_Form__c.Jun__c}"/>
                        <apex:inputField id="ipMA7" value="{!Intake_Entry_Form__c.Jul__c}"/>   
                        <apex:inputField id="ipMA8" value="{!Intake_Entry_Form__c.Aug__c}"/>
                        <apex:inputField id="ipMA9" value="{!Intake_Entry_Form__c.Sep__c}"/>
                        <apex:inputField id="ipMA10" value="{!Intake_Entry_Form__c.Oct__c}"/>
                        <apex:inputField id="ipMA11" value="{!Intake_Entry_Form__c.Nov__c}"/>
                        <apex:inputField id="ipMA12" value="{!Intake_Entry_Form__c.Dec__c}"/>
                     </apex:pageBlockSection>
                </div>
                <apex:pageBlockSection title="Other Information" id="pbSecIntakeEntryOI" columns="1" >
                    <apex:inputTextArea rows="6" cols="75"  value="{!Intake_Entry_Form__c.Intake_Description__c}"/>
                    <apex:inputTextArea rows="6" cols="75"  value="{!Intake_Entry_Form__c.Justification__c}"/>
                    
                </apex:pageBlockSection>
                               
         </apex:pageBlock>
        
      </apex:form>
    <script>
           change();
   </script>
</apex:page>