<apex:page id="pgMilestoneEntry" StandardController="Milestone__c" Extensions="MilestoneController" showHeader="true" >

<apex:form id="thisform">
<apex:pageMessages />
<apex:sectionHeader title="Milestone" />
<apex:pageBlock id="pbMilestone" title="Milestone Detail" mode="Edit">
    <apex:pageBlockButtons >
    <apex:commandButton action="{!SaveMilestone}" value="Save"/>
    <apex:commandButton action="{!Cancel}" value="cancel"/>
    </apex:pageBlockButtons>
<apex:pageBlockSection id="pbsecMSG" title="General Information" columns="1" >
<apex:inputField value="{!Milestone__c.Project__c}" required="true">
            <apex:actionSupport event="onchange" rerender="pbsecitemDT" status="status"/>
            </apex:inputField>
            <apex:pageBlockSectionItem >
                        <apex:outputLabel >Durable Team </apex:outputLabel>
                        <apex:outputPanel id="pbsecitemDT">
                            <apex:selectList value="{!Milestone__c.Durable_Teams__c}" size="1" multiselect="false" required="false">
                                <apex:selectOptions value="{!ListDurableTeams}"/>
                                <apex:actionSupport reRender="dummy" event="onchange"/>
                            </apex:selectList>
                        </apex:outputPanel>
                 </apex:pageBlockSectionItem>
        <apex:inputField value="{!Milestone__c.Name}"/>
        <apex:inputField value="{!Milestone__c.Milestone_Description__c}"/>
        <apex:inputField value="{!Milestone__c.Launch_Status__c}"/>
        <apex:inputField value="{!Milestone__c.Milestone_Date__c}"/>
        <apex:inputField value="{!Milestone__c.Actual_Deliverable_Date__c}"/>
</apex:pageBlockSection>
</apex:pageBlock>
</apex:form>
</apex:page>