<apex:page StandardController="Projects_2014__c" extensions="CreateProjectController">
    <apex:form id="theForm">
        <apex:sectionHeader title="Project Form" id="projectsection" subtitle="{!If(Projects_2014__c.Id !=null,Projects_2014__c.Name,'')}"/>
        <apex:pageMessages />
        <apex:pageBlock title="Project Entry Detail" mode="edit">
            <apex:pageBlockButtons >
                <apex:commandButton action="{!saveProjectEntry}" value="Save" reRender="theForm" disabled="{!OR( $Profile.Name == 'Contractor', $Profile.Name == 'Comcast Employee',($Profile.Name == 'Contractor PM' && Projects_2014__c.Id !=null && (Projects_2014__c.Project_Owner_Role_ID__c !=LEFT($User.UserRoleId,15))),($Profile.Name == 'Program Owners' && Projects_2014__c.Id !=null && (Projects_2014__c.Project_Owner_Role_ID__c !=LEFT($User.UserRoleId,15))),($Profile.Name == 'Finance Members' && Projects_2014__c.Id !=null && (Projects_2014__c.Project_Owner_Role_ID__c !=LEFT($User.UserRoleId,15))))}"/>
                <apex:commandButton action="{!cancel}" value="Cancel"/>
                <apex:outputLabel value="{!$Label.Edit_Access_Denied_for_Projects}" id="custLabelEditAccess" style="color:red"  rendered="{!OR( $Profile.Name == 'Contractor', $Profile.Name == 'Comcast Employee',($Profile.Name == 'Contractor PM' && Projects_2014__c.Id !=null && (Projects_2014__c.Project_Owner_Role_ID__c !=LEFT($User.UserRoleId,15))),($Profile.Name == 'Program Owners' && Projects_2014__c.Id !=null && (Projects_2014__c.Project_Owner_Role_ID__c !=LEFT($User.UserRoleId,15))),($Profile.Name == 'Finance Members' && Projects_2014__c.Id !=null && (Projects_2014__c.Project_Owner_Role_ID__c !=LEFT($User.UserRoleId,15))))}" />
            </apex:pageBlockButtons>
            <apex:pageBlockSection title="General Information"  columns="2" >
                   <apex:inputField value="{!Projects_2014__c.Name}" required="true"/>
                   <apex:pageBlockSectionItem >
                        <apex:outputPanel ></apex:outputPanel>
                   </apex:pageBlockSectionItem>     
                   <apex:inputField value="{!Projects_2014__c.Carry_Over__c}"/>
                   <apex:inputField value="{!Projects_2014__c.Program_Name__c}"/>
                   <apex:inputField value="{!Projects_2014__c.Start_Date__c}"/>
                   <apex:inputField value="{!Projects_2014__c.End_Date__c}"/> 
                   <apex:inputField value="{!Projects_2014__c.Target_Project_Capex_Budget__c}"/>   
                   <apex:inputField value="{!Projects_2014__c.Target_Project_Opex_Budget__c}"/> 
                   <apex:inputTextArea rows="6" cols="75"  value="{!Projects_2014__c.Project_Description__c}"/>
                    <apex:pageBlockSectionItem >
                        <apex:outputPanel > </apex:outputPanel>
                    </apex:pageBlockSectionItem>     
                   <apex:inputTextArea rows="6" cols="75"  value="{!Projects_2014__c.Scope__c}"/>
                    <apex:pageBlockSectionItem >
                        <apex:outputPanel > </apex:outputPanel>
                    </apex:pageBlockSectionItem>     
                   <apex:inputTextArea rows="6" cols="75"  value="{!Projects_2014__c.Justification__c}"/>
                    <apex:pageBlockSectionItem >
                        <apex:outputPanel > </apex:outputPanel>
                    </apex:pageBlockSectionItem>     
             </apex:pageBlockSection>
             <apex:pageBlockSection title="Other Information" columns="2" >
                     <apex:inputField value="{!Projects_2014__c.Budgeting_Status__c}"/>
                    <apex:inputField value="{!Projects_2014__c.SBI__c}"/>   
                   <apex:pageBlockSectionItem >
                            <apex:outputLabel >Project Type</apex:outputLabel>
                            <apex:outputPanel id="oplProType">
                                <apex:actionRegion >
                                    <apex:inputField value="{!Projects_2014__c.Project_Type__c}" required="true">
                                       <apex:actionSupport reRender="oplFund,oplFundingEntity" event="onchange" />
                                   </apex:inputField>
                                </apex:actionRegion>
                            </apex:outputPanel>
                   </apex:pageBlockSectionItem>
                   <apex:pageBlockSectionItem >
                    <apex:outputLabel >Portfolio</apex:outputLabel>
                        <apex:actionRegion >
                            <apex:selectList value="{!Projects_2014__c.Portfolio__c}" size="1" multiselect="false" required="false">
                                <apex:selectOptions value="{!listPortfolio}"/>
                            </apex:selectList>
                        </apex:actionRegion>
                </apex:pageBlockSectionItem>
                 <apex:inputField value="{!Projects_2014__c.Clarity__c}"/>
                   <apex:pageBlockSectionItem >
                            <apex:outputLabel >Funded by</apex:outputLabel>
                            <apex:outputPanel id="oplFund">
                                <apex:actionRegion >
                                    <apex:inputField value="{!Projects_2014__c.Funded_by__c}" required="true">
                                       <apex:actionSupport reRender="oplFundingEntity" event="onchange"/>
                                   </apex:inputField>
                                </apex:actionRegion>
                            </apex:outputPanel>
                   </apex:pageBlockSectionItem>
                  <apex:inputField value="{!Projects_2014__c.Emp_Lead_Delivery_Org__c}"/>
                              
                   <apex:inputField value="{!Projects_2014__c.Load_to_ESSBASE__c}"/>
                   
                   <apex:inputField value="{!Projects_2014__c.Lock_Project__c}"/>
                   <apex:inputField value="{!Projects_2014__c.Lock_Forecast__c}"/>
                   <apex:inputField value="{!Projects_2014__c.Emp_Finance_Owner__c}"/>
                   <apex:inputField value="{!Projects_2014__c.Emp_BU_Owner__c}"/>
                   <apex:inputField value="{!Projects_2014__c.Emp_Tech_Owner__c}"/>    
                   <apex:inputField value="{!Projects_2014__c.Emp_EPMO_Owner__c}"/>   
                   <apex:inputField value="{!Projects_2014__c.Responsibility_Center__c}"/> 
                   <apex:inputField value="{!Projects_2014__c.Product__c}"/>
                   <apex:inputField value="{!Projects_2014__c.Intercompany__c}"/>  
                </apex:pageBlockSection>
          </apex:pageBlock>
       </apex:form>
</apex:page>