<apex:page id="pgBudgetEntry" StandardController="Forecast_Entry_Form__c" Extensions="createEditForecastEntryController" showHeader="true">
    <style>
      .dateFormat{
        display:none;
    }
    </style>
       
       
    <script>
     //JS Function to copy Invoice date to Delivery date for HW Assets
     function ShowcopyFields()
     {
       //alert(document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemDelDate:ipDelDate').value);
       document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemInvDate:ipInvDate').value= document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemDelDate:ipDelDate').value;
       //alert(document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemDelDate:ipDelDate').value);
       //alert(document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemDelDate:opDelDate').value);
     }
     
     function ShowHideFields(tmp){
            
            // Enable & Disable fields for specific Budget Types.
            
            var BudType =document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntryG:ipBudType').value;

            if(BudType =="Labor (By Effort)"){
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotSpentProj:opTotSpentProj').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotSpentProj:ipTotSpentProj').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotEff:opTotEffHours').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotEff:ipTotEffHours').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemDelDate:opDelDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemDelDate:ipDelDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry1').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry').style.display = 'block'; 
                             
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemVendor:opVendor').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemVendor:ipVendor').style.display = 'block';
                
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemBudCategory:opBudCategory').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemBudCategory:ipBudCategory').style.display = 'none';
                
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemExLab:opExLab').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemExLab:ipExLab').style.display = 'block';

                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemOffLab:opOffLab').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemOffLab:ipOffLab').style.display = 'block';

                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemCapExp:opCapExp').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemCapExp:ipCapExp').style.display = 'block';

                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemSDate:opSDate').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemSDate:ipSDate').style.display = 'block';

                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemEDate:opEDate').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemEDate:ipEDate').style.display = 'block';
                
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemInvDate:opInvDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemInvDate:ipInvDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWLA:opSWLA').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWLA:ipSWLA').style.display = 'none';  
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWMA:opSWMA').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWMA:ipSWMA').style.display = 'none';  
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP').style.display = 'none';  
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWLA:ipSWLA').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWMA:ipSWMA').value = '';                
                 document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPD1').value = '';
                 document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPA1').value = '';
                 document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPD2').value = '';
                 document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPA2').value = ''; 
                 document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPD3').value = '';
                 document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPA3').value = ''; 
                 document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPD4').value = '';
                 document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPA4').value = ''; 
                 document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPD5').value = '';
                 document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPA5').value = ''; 
                 
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemBudCategory:ipBudCategory').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemInvDate:opInvDate').value = '';

                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntryFA').style.display = 'none'; 

                var TotSpent = document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotSpentProj:ipTotSpentProj').value;
                if(TotSpent !=''){
                    document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotSpentProj:ipTotSpentProj').value = '';
                }
            }else if(BudType == "Labor (Lump Sum $)"){
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotSpentProj:opTotSpentProj').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotSpentProj:ipTotSpentProj').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotEff:opTotEffHours').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotEff:ipTotEffHours').style.display = 'none'; 
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemDelDate:opDelDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemDelDate:ipDelDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemVendor:opVendor').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemVendor:ipVendor').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemBudCategory:opBudCategory').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemBudCategory:ipBudCategory').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemInvDate:opInvDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemInvDate:ipInvDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry1').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry').style.display = 'block';                     
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemExLab:opExLab').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemExLab:ipExLab').style.display = 'block';

                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemOffLab:opOffLab').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemOffLab:ipOffLab').style.display = 'block';

                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemCapExp:opCapExp').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemCapExp:ipCapExp').style.display = 'block';

                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemSDate:opSDate').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemSDate:ipSDate').style.display = 'block';

                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemEDate:opEDate').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemEDate:ipEDate').style.display = 'block';
                
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWLA:opSWLA').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWLA:ipSWLA').style.display = 'none';  
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWMA:opSWMA').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWMA:ipSWMA').style.display = 'none';  
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP').style.display = 'none';         
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntryFA').style.display = 'none';
                                
                var TotEffHours = document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotEff:ipTotEffHours').value;
                if(TotEffHours !=''){
                    document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotEff:ipTotEffHours').value = '';
                }
                                
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemInvDate:ipInvDate').value = '';
                
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPD1').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPA1').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPD2').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPA2').value = ''; 
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPD3').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPA3').value = ''; 
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPD4').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPA4').value = ''; 
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPD5').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPA5').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipSWLA').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWMA:ipSWMA').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemBudCategory:ipBudCategory').value = '';

                
            }else if(BudType == "Other Costs (Monthly)"){
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotSpentProj:opTotSpentProj').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotSpentProj:ipTotSpentProj').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotEff:opTotEffHours').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotEff:ipTotEffHours').style.display = 'none'; 
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemDelDate:opDelDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemDelDate:ipDelDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemVendor:opVendor').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemVendor:ipVendor').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemBudCategory:opBudCategory').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemBudCategory:ipBudCategory').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemInvDate:opInvDate').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemInvDate:ipInvDate').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry1').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry').style.display = 'block';                           
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemExLab:opExLab').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemExLab:ipExLab').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemOffLab:opOffLab').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemOffLab:ipOffLab').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemCapExp:opCapExp').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemCapExp:ipCapExp').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemSDate:opSDate').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemSDate:ipSDate').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemEDate:opEDate').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemEDate:ipEDate').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemInvDate:opInvDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemInvDate:ipInvDate').style.display = 'none';
                
                              
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPD1').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPA1').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPD2').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPA2').value = ''; 
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPD3').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPA3').value = ''; 
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPD4').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPA4').value = ''; 
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPD5').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPA5').value = '';
                 
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemDelDate:ipDelDate').value  = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemInvDate:ipInvDate').value = '';

                 
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWLA:opSWLA').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWLA:ipSWLA').style.display = 'none';  
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWMA:opSWMA').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWMA:ipSWMA').style.display = 'none';  
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP').style.display = 'none';       
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntryFA').style.display = 'none';
                
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotEff:ipTotEffHours').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotEff:ipTotEffHours').value = '';

                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWLA:ipSWLA').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWMA:ipSWMA').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemBudCategory:ipBudCategory1').value = '';
                
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemExLab:ipExLab').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemOffLab:ipOffLab').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemCapExp:ipCapExp').value = '';
                
            }else if(BudType == "Other Costs (Single Payment)"){
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotSpentProj:opTotSpentProj').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotSpentProj:ipTotSpentProj').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotEff:opTotEffHours').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotEff:ipTotEffHours').style.display = 'none'; 
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemDelDate:opDelDate').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemDelDate:ipDelDate').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemVendor:opVendor').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemVendor:ipVendor').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemBudCategory:opBudCategory').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemBudCategory:ipBudCategory').style.display = 'block';                       
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemInvDate:opInvDate').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemInvDate:ipInvDate').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry1').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemExLab:opExLab').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemExLab:ipExLab').style.display = 'none';

                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemOffLab:opOffLab').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemOffLab:ipOffLab').style.display = 'none';

                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemCapExp:opCapExp').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemCapExp:ipCapExp').style.display = 'none';

                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemSDate:opSDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemSDate:ipSDate').style.display = 'none';

                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemEDate:opEDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemEDate:ipEDate').style.display = 'none';
                
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPD1').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPA1').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPD2').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPA2').value = ''; 
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPD3').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPA3').value = ''; 
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPD4').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPA4').value = ''; 
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPD5').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPA5').value = '';
                 
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWLA:opSWLA').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWLA:ipSWLA').style.display = 'none';  
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWMA:opSWMA').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWMA:ipSWMA').style.display = 'none';  
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP').style.display = 'none';       
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntryFA').style.display = 'none';
                

                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotEff:ipTotEffHours').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotEff:ipTotEffHours').value = '';
                
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWLA:ipSWLA').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWMA:ipSWMA').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemBudCategory:ipBudCategory1').value = '';
                                
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemExLab:ipExLab').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemOffLab:ipOffLab').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemCapExp:ipCapExp').value = '';
                
            }
            else if(BudType == "Finance Adjustment"){
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotSpentProj:opTotSpentProj').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotSpentProj:ipTotSpentProj').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotEff:opTotEffHours').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotEff:ipTotEffHours').style.display = 'none'; 
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry1').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry').style.display = 'block'; 
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemDelDate:opDelDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemDelDate:ipDelDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemVendor:opVendor').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemVendor:ipVendor').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemBudCategory:opBudCategory').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemBudCategory:ipBudCategory').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemInvDate:opInvDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemInvDate:ipInvDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemSDate:opSDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemSDate:ipSDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemEDate:opEDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemEDate:ipEDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemExLab:opExLab').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemExLab:ipExLab').style.display = 'none';

                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemOffLab:opOffLab').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemOffLab:ipOffLab').style.display = 'none';

                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemCapExp:opCapExp').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemCapExp:ipCapExp').style.display = 'none';

                
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemSDate:opSDate').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemSDate:ipSDate').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPD1').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPA1').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPD2').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPA2').value = ''; 
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPD3').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPA3').value = ''; 
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPD4').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPA4').value = ''; 
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPD5').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPA5').value = '';
                 
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWLA:opSWLA').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWLA:ipSWLA').style.display = 'none';  
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWMA:opSWMA').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWMA:ipSWMA').style.display = 'none';  
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP').style.display = 'none';       
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntryFA').style.display = 'block';                
                
                //document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemBudCategory:ipBudCategory').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotEff:ipTotEffHours').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotEff:ipTotEffHours').value = '';
                                
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWLA:ipSWLA').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWMA:ipSWMA').value = '';
                
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemExLab:ipExLab').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemOffLab:ipOffLab').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemCapExp:ipCapExp').value = '';
                
            }
            else if(BudType == "Multiple Month by Account"){
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotSpentProj:opTotSpentProj').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotSpentProj:ipTotSpentProj').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotEff:opTotEffHours').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotEff:ipTotEffHours').style.display = 'none'; 
                //document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntryG:ipBudCap').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry1').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry').style.display = 'block'; 

                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemDelDate:opDelDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemDelDate:ipDelDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemVendor:opVendor').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemVendor:ipVendor').style.display = 'block';
               
                
                
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemBudCategory:opBudCategory').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemBudCategory:ipBudCategory').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemInvDate:opInvDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemInvDate:ipInvDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemSDate:opSDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemSDate:ipSDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemEDate:opEDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemEDate:ipEDate').style.display = 'none';
                
                
                //document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry').style.display = 'none';
                                         
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemExLab:opExLab').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemExLab:ipExLab').style.display = 'none';

                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemOffLab:opOffLab').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemOffLab:ipOffLab').style.display = 'none';

                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemCapExp:opCapExp').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemCapExp:ipCapExp').style.display = 'none';

                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemSDate:opSDate').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemSDate:ipSDate').value = '';
                //document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntryG:ipBudCap').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPD1').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPA1').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPD2').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPA2').value = ''; 
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPD3').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPA3').value = ''; 
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPD4').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPA4').value = ''; 
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPD5').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:ipPA5').value = '';
                 
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWLA:opSWLA').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWLA:ipSWLA').style.display = 'none';  
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWMA:opSWMA').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWMA:ipSWMA').style.display = 'none';  
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP').style.display = 'none';       
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntryFA').style.display = 'block';  
                 
                //document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemBudCategory:ipBudCategory').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotEff:ipTotEffHours').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotEff:ipTotEffHours').value = '';
                                
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWLA:ipSWLA').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWMA:ipSWMA').value = '';
                
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemExLab:ipExLab').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemOffLab:ipOffLab').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemCapExp:ipCapExp').value = '';
                
            }
            else if(BudType == "Software (Perpetual)"){
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotSpentProj:opTotSpentProj').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotSpentProj:ipTotSpentProj').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotEff:opTotEffHours').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotEff:ipTotEffHours').style.display = 'none'; 
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemDelDate:opDelDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemDelDate:ipDelDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemVendor:opVendor').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemVendor:ipVendor').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemBudCategory:opBudCategory').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemBudCategory:ipBudCategory').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemExLab:opExLab').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemExLab:ipExLab').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemOffLab:opOffLab').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemOffLab:ipOffLab').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemCapExp:opCapExp').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemCapExp:ipCapExp').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemSDate:opSDate').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemSDate:ipSDate').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemEDate:opEDate').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemEDate:ipEDate').style.display = 'block';
                
                                
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemInvDate:opInvDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemInvDate:ipInvDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntryFA').style.display = 'none';
                
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry1').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry').style.display = 'block';
                                
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWLA:opSWLA').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWLA:ipSWLA').style.display = 'block';  
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWMA:opSWMA').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWMA:ipSWMA').style.display = 'block';  
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP').style.display = 'block';                      
                 
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotEff:ipTotEffHours').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotEff:ipTotEffHours').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemInvDate:ipInvDate').value = '';
                
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemBudCategory:ipBudCategory').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemExLab:ipExLab').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemOffLab:ipOffLab').value = '';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemCapExp:ipCapExp').value = '';   
            }
            else{
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotSpentProj:opTotSpentProj').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotSpentProj:ipTotSpentProj').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotEff:opTotEffHours').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemTotEff:ipTotEffHours').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemDelDate:opDelDate').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemDelDate:ipDelDate').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemVendor:opVendor').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemVendor:ipVendor').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemBudCategory:opBudCategory').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemBudCategory:ipBudCategory').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemExLab:opExLab').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemExLab:ipExLab').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemInvDate:opInvDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemInvDate:ipInvDate').style.display = 'none';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry1').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemOffLab:opOffLab').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemOffLab:ipOffLab').style.display = 'block';

                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemCapExp:opCapExp').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrylabor:pbSecItemCapExp:ipCapExp').style.display = 'block';

                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemSDate:opSDate').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemSDate:ipSDate').style.display = 'block';

                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemEDate:opEDate').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntry:pbSecItemEDate:ipEDate').style.display = 'block';
                 
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWLA:opSWLA').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWLA:ipSWLA').style.display = 'block';  
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWMA:opSWMA').style.display = 'block';
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP:pbSecItemSWMA:ipSWMA').style.display = 'block';  
                document.getElementById('pgBudgetEntry:theForm:pbBudEntry:pbSecBudEntrySP').style.display = 'block';         
                
            }           
         
        }
        //window.onload=ShowHideFields;
    </script>
       <apex:form id="theForm">
        <apex:pageMessages />
        <apex:sectionHeader title="Forecast Entry Form" subtitle="{!If(Forecast_Entry_Form__c.Id !=null,Forecast_Entry_Form__c.Name,'')}"/>
        <apex:pageBlock id="pbBudEntry" title="Forecast Entry Detail" mode="edit">
         <apex:pageBlockButtons >
                <apex:commandButton action="{!saveBudgetEntry}" value="Save"/>
                <apex:commandButton action="{!cancel}" value="Cancel"/>
        </apex:pageBlockButtons>
            <apex:pageBlockSection id="pbSecBudEntryG" title="General Information"  columns="2" > 
                    <apex:inputField value="{!Forecast_Entry_Form__c.Name}" />
                    <apex:inputField value="{!Forecast_Entry_Form__c.Project_Name__c}"> 
                          <apex:actionSupport event="onchange" rerender="pbSecBudEntryFE,ipBudCap"  status="status"/>
                    </apex:inputField>
                    <apex:inputField id="ipBudType" value="{!Forecast_Entry_Form__c.Forecast_Type__c}"  required="false" onchange="ShowHideFields();"/>
                     
                      <apex:pageBlockSectionItem >
                        <apex:outputLabel >Funding Entity</apex:outputLabel>
                        <apex:outputPanel id="pbSecBudEntryFE">
                            <apex:selectList value="{!Forecast_Entry_Form__c.Funding_Entity__c}" disabled="{!OR($Profile.Name =='Program Owners',$Profile.Name=='Contractor PM',$Profile.Name =='Intake Owners',$Profile.Name == 'Contractor', $Profile.Name == 'Comcast Employee')}" size="1" multiselect="false" required="false">
                                <apex:selectOptions value="{!listFunding}"/>
                                <apex:actionSupport reRender="dummy" event="onchange"/>
                            </apex:selectList>
                        </apex:outputPanel>
                 </apex:pageBlockSectionItem>
         </apex:pageBlockSection>
         <apex:pageBlockSection id="pbSecBudEntry1" columns="1" >
               
                 <apex:pageBlockSectionItem helpText="{!$ObjectType.Forecast_Entry_Form__c.Fields.Effort_Entity__c.inlineHelpText}">
                    <apex:outputLabel >Effort Entity</apex:outputLabel>
                        <apex:actionRegion >
                            <apex:selectList value="{!Forecast_Entry_Form__c.Effort_Entity__c}" size="1" multiselect="false" required="false">
                                <apex:selectOptions value="{!listEntity}"/>
                                <apex:actionSupport reRender="oplDirector" event="onchange"/>
                            </apex:selectList>
                        </apex:actionRegion>
                </apex:pageBlockSectionItem>                
          </apex:pageBlockSection>
          <apex:pageBlockSection id="pbSecBudEntry"   columns="2" >
                <apex:pageBlockSectionItem >
                    <apex:outputLabel >Director Group</apex:outputLabel>
                    <apex:outputPanel id="oplDirector">
                        <apex:selectList value="{!Forecast_Entry_Form__c.Director_Group__c}" size="1" multiselect="false" required="false">
                            <apex:selectOptions value="{!listDirector}"/>
                            <apex:actionSupport reRender="dummy" event="onchange"/>
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="pbSecItemBudCategory">                 
                       <apex:outputLabel id="opBudCategory"  style="display:block">Account Category</apex:outputLabel>
                    <apex:outputPanel id="ipBudCategory" style="display:block">
                        <apex:selectList value="{!Forecast_Entry_Form__c.Account_Category__c}" size="1" multiselect="false">
                            <apex:selectOptions value="{!listBudgetCategory}"/>
                            <apex:actionSupport reRender="dummy" event="onchange"/>
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem id="pbSecItemTotSpentProj" helpText="{!$ObjectType.Forecast_Entry_Form__c.Fields.Total_Spent_Projection__c.inlineHelpText}">
                   <apex:outputLabel id="opTotSpentProj">Forecast Amount</apex:outputLabel>
                   <apex:inputField id="ipTotSpentProj" value="{!Forecast_Entry_Form__c.Total_Spent_Projection__c}" style="display:block"/>
               </apex:pageBlockSectionItem>     
                <apex:pageBlockSectionItem id="pbSecItemTotEff">
                    <apex:outputLabel id="opTotEffHours" style="display:block" >Total Effort (Hours)</apex:outputLabel>
                    <apex:inputField id="ipTotEffHours" value="{!Forecast_Entry_Form__c.Total_Effort_Hours__c}" style="display:block" />
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem id="pbSecItemSDate">
                      <apex:outputLabel id="opSDate" style="display:block" >Start Date</apex:outputLabel>
                      <apex:inputField id="ipSDate" value="{!Forecast_Entry_Form__c.Start_Date__c}"/>
                </apex:pageBlockSectionItem>    
                 <apex:pageBlockSectionItem id="pbSecItemEDate">
                       <apex:outputLabel id="opEDate" style="display:block" >End Date</apex:outputLabel>
                       <apex:inputField id="ipEDate" value="{!Forecast_Entry_Form__c.End_Date__c}"/>
                 </apex:pageBlockSectionItem>
                 <apex:pageBlockSectionItem id="pbSecItemVendor" helpText="{!$ObjectType.Forecast_Entry_Form__c.Fields.Vendor__c.inlineHelpText}">
                    <apex:outputLabel id="opVendor" style="display:block">Vendor</apex:outputLabel>
                    <apex:outputPanel id="ipVendor" style="display:block">
                        <apex:selectList value="{!Forecast_Entry_Form__c.Vendor__c}" size="1" multiselect="false">
                            <apex:selectOptions value="{!listVendor}"/>
                            <apex:actionSupport reRender="dummy" event="onchange"/>
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                 </apex:pageBlockSectionItem>
                 <apex:pageBlockSectionItem id="pbSecItemDelDate">
                    <apex:outputLabel id="opDelDate" style="display:block" >Delivery Date</apex:outputLabel>
                    <apex:inputField id="ipDelDate" value="{!Forecast_Entry_Form__c.Delivery_Date__c}" style="display:block" onchange="ShowcopyFields();"></apex:inputField>
                </apex:pageBlockSectionItem>
                 <apex:pageBlockSectionItem id="pbSecItemInvDate">
                    <apex:outputLabel id="opInvDate" style="display:block" >Invoice Date</apex:outputLabel>
                    <apex:inputField id="ipInvDate" value="{!Forecast_Entry_Form__c.Invoice_Date__c}" style="display:block"></apex:inputField>
                </apex:pageBlockSectionItem>                
            </apex:pageBlockSection>
            
            <apex:pageBlockSection title="Labor Information"  id="pbSecBudEntrylabor" columns="2" >
                  <apex:pageBlockSectionItem id="pbSecItemExLab" helpText="{!$ObjectType.Forecast_Entry_Form__c.Fields.External_Labor__c.inlineHelpText}">
                   <apex:outputLabel id="opExLab" style="display:block" >% External Labor</apex:outputLabel>
                   <apex:inputField id="ipExLab"  value="{!Forecast_Entry_Form__c.External_Labor__c}"/>
               </apex:pageBlockSectionItem>
               
               <apex:pageBlockSectionItem id="pbSecItemOffLab" helpText="{!$ObjectType.Forecast_Entry_Form__c.Fields.Off_Shore_Labor__c.inlineHelpText}">
                   <apex:outputLabel id="opOffLab" style="display:block" >% Offshore Labor</apex:outputLabel>
                   <apex:inputField id="ipOffLab"  value="{!Forecast_Entry_Form__c.Off_Shore_Labor__c}"/>
               </apex:pageBlockSectionItem>
               
               <apex:pageBlockSectionItem id="pbSecItemCapExp" helpText="{!$ObjectType.Forecast_Entry_Form__c.Fields.Capital_Expense__c.inlineHelpText}">
                   <apex:outputLabel id="opCapExp" style="display:block" >% Capital Expense</apex:outputLabel>
                   <apex:inputField id="ipCapExp" value="{!Forecast_Entry_Form__c.Capital_Expense__c}"/>
               </apex:pageBlockSectionItem>             
            </apex:pageBlockSection>
           <apex:pageBlockSection title="Software (Perpetual)" id="pbSecBudEntrySP"  columns="2" >                  
                  <apex:pageBlockSectionItem id="pbSecItemSWMA" helpText="{!$ObjectType.Forecast_Entry_Form__c.Fields.Total_SW_Maintenance_Amount__c.inlineHelpText}">
                    <apex:outputLabel id="opSWMA" style="display:block" >Total SW Maintenance Amount</apex:outputLabel>
                    <apex:inputField id="ipSWMA" value="{!Forecast_Entry_Form__c.Total_SW_Maintenance_Amount__c}"/>
                  </apex:pageBlockSectionItem>
                   <apex:pageBlockSectionItem >
                  </apex:pageBlockSectionItem>
                  <apex:pageBlockSectionItem id="pbSecItemSWLA" helpText="{!$ObjectType.Forecast_Entry_Form__c.Fields.Total_SW_License_Amount__c.inlineHelpText}">
                        <apex:outputLabel id="opSWLA" style="display:block" >Total SW License Amount</apex:outputLabel>
                        <apex:inputField id="ipSWLA" value="{!Forecast_Entry_Form__c.Total_SW_License_Amount__c}"/>
                  </apex:pageBlockSectionItem>
                  <apex:pageBlockSectionItem >
                  </apex:pageBlockSectionItem>
                  
                   <apex:inputField id="ipPD1" value="{!Forecast_Entry_Form__c.Payment_Date_1__c}"/>
                   <apex:inputField id="ipPA1" value="{!Forecast_Entry_Form__c.Payment_Amount_1__c}"/>
                   <apex:inputField id="ipPD2" value="{!Forecast_Entry_Form__c.Payment_Date_2__c}"/>
                   <apex:inputField id="ipPA2" value="{!Forecast_Entry_Form__c.Payment_Amount_2__c}"/>
                   <apex:inputField id="ipPD3" value="{!Forecast_Entry_Form__c.Payment_Date_3__c}"/>
                   <apex:inputField id="ipPA3" value="{!Forecast_Entry_Form__c.Payment_Amount_3__c}"/>
                   <apex:inputField id="ipPD4" value="{!Forecast_Entry_Form__c.Payment_Date_4__c}"/>
                   <apex:inputField id="ipPA4" value="{!Forecast_Entry_Form__c.Payment_Amount_4__c}"/>
                   <apex:inputField id="ipPD5" value="{!Forecast_Entry_Form__c.Payment_Date_5__c}"/>
                   <apex:inputField id="ipPA5" value="{!Forecast_Entry_Form__c.Payment_Amount_5__c}"/>
            </apex:pageBlockSection>
             <apex:pageBlockSection title="Monthly Adjustment" id="pbSecBudEntryFA"  columns="2" >
                   <apex:inputField id="ipFCAL" value="{!Forecast_Entry_Form__c.Forecast_Calendar__c}"/>
                   <apex:inputField id="ipFA0" value="{!Forecast_Entry_Form__c.Adjustment_Year__c}"/>
                   <apex:inputField id="ipFA1" value="{!Forecast_Entry_Form__c.Jan__c}"/>                   
                   <apex:inputField id="ipFA2" value="{!Forecast_Entry_Form__c.Feb__c}"/>
                   <apex:inputField id="ipFA3" value="{!Forecast_Entry_Form__c.Mar__c}"/>
                   <apex:inputField id="ipFA4" value="{!Forecast_Entry_Form__c.Apr__c}"/>
                   <apex:inputField id="ipFA5" value="{!Forecast_Entry_Form__c.May__c}"/>
                   <apex:inputField id="ipFA6" value="{!Forecast_Entry_Form__c.Jun__c}"/>
                   <apex:inputField id="ipFA7" value="{!Forecast_Entry_Form__c.Jul__c}"/>   
                   <apex:inputField id="ipFA8" value="{!Forecast_Entry_Form__c.Aug__c}"/>
                   <apex:inputField id="ipFA9" value="{!Forecast_Entry_Form__c.Sep__c}"/>
                   <apex:inputField id="ipFA10" value="{!Forecast_Entry_Form__c.Oct__c}"/>
                   <apex:inputField id="ipFA11" value="{!Forecast_Entry_Form__c.Nov__c}"/>
                   <apex:inputField id="ipFA12" value="{!Forecast_Entry_Form__c.Dec__c}"/>
             </apex:pageBlockSection>
             <apex:pageBlockSection title="Other Information" id="pbSecBudEntryTA" columns="2" >
                <apex:inputTextArea rows="6" cols="75"  value="{!Forecast_Entry_Form__c.Forecast_Description__c}"/>
                <apex:inputField value="{!Forecast_Entry_Form__c.PO_number__c}" />
                <apex:inputTextArea rows="6" cols="75"  value="{!Forecast_Entry_Form__c.Justification__c}"/>
            </apex:pageBlockSection>
          </apex:pageBlock>
       </apex:form>
         <script>
           ShowHideFields('tmp');
       </script>
</apex:page>